/* 瀏覽器以UTF-8格式讀取css文件 */
@charset "UTF-8"; 

/* 導入字體 */
@font-face {
  font-family: "JSBold";
  src: url("../fonts/JosefinSans-Bold.ttf"), url("../fonts/JosefinSans-BoldItalic.ttf"), url("../fonts/JosefinSans-Regular.ttf"), url("../fonts/JosefinSans-Italic.ttf"); 
}

@font-face {
  font-family: "JSLight";
  src: url("../fonts/JosefinSans-Light.ttf"), url("../fonts/JosefinSans-LightItalic.ttf"), url("../fonts/JosefinSans-Regular.ttf"), url("../fonts/JosefinSans-Italic.ttf"); 
}

/* Navigation */

.navbar {
  padding-top: 5px; 
}
.navbar-inverse {
  background-color: #fff;
  border-color: #fff;
  color: #40a3c1; 
}
  .navbar-inverse .navbar-nav > li > a {
    color: #40a3c1;
    font-family: JSLight;
    font-size: 18px; 
  }
/* 標題YING-YU CHEN */
.navbar-inverse .navbar-brand {
  color: #40a3c1;
  font-family: JSBold;
  font-size: 24px; 
  float: right; 
}
/* 漢堡選單 */
.navbar-inverse .navbar-toggle {
  border: none; 
  float: left; 
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #40a3c1; 
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border: none; 
}

/* 滑鼠事件 */

.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-brand:hover {
  color: #ef7023;
  background-color: transparent; 
}
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:hover {
  color: #ef7023;
  background-color: transparent; 
}
/* 漢堡選單時添加背景色 */
.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
  background-color: #fff; 
}

/* Introduction */

.del-col-pad {
  margin: 0 auto;
  padding: 0; 
}
#Intro {
  margin: 100px auto 40px; 
}
  #Intro #headerImg {
    margin-bottom: 30px; 
  }
  #Intro .mine-name {
    color: #ef7023;
    font-family: JSBold;
    font-size: 24px;
    text-align: center;
    padding: 0;
    margin: 20px 0; 
  }
  #Intro .intro {
    font-size: 18px;
    font-family: JSLight;
    color: #717070; 
  }

/* News and Events */

#News {
  margin: 30px auto 70px; 
}
  #News .title {
    color: #40a3c1;
    font-family: JSBold;
    font-size: 24px;
    text-align: center;
    padding: 0;
    margin: 20px 0; 
  }
  #News .list-box {
    border: 1px solid #f0eff4;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    font-family: JSLight;
    font-size: 18px;
    color: #717070;
    overflow: scroll; /* overflow實現捲軸效果 */
    box-shadow: 0 6px 3px #dfdfe1;
    height: 300px; 
  }
    #News .list-box .item {
      display: flex;
      align-items: center;
      margin-bottom: 10px; 
    }
      #News .list-box .item .date {
        flex: 0.2;
        white-space: nowrap;
        padding-right: 20px; 
      }
      #News .list-box .item .text {
        flex: 1;
        white-space: nowrap; 
      }
    #News .list-box .item:last-of-type {
      margin-bottom: 0; 
    }

/* Interested in joining Everyday Creativity Lab? */

#Other {
  margin: 30px auto 70px; 
}
  #Other .title {
    color: #40a3c1;
    font-family: JSBold;
    font-size: 24px;
    text-align: center;
    padding: 0 20px;
    margin: 20px 0; 
  }
  #Other #joinImg {
    margin-bottom: 30px; 
  }
  #Other p {
    font-size: 18px;
    font-family: JSLight;
    color: #717070;
    text-align: center;
    margin-top: 20px;
    text-align: center; 
  }
    #Other p a {
      color: #717070; 
    }

/* Footer */

footer {
  background-color: #40a3c1;
  color: #fff;
  font-size: 12px;
  text-align: center;
  padding: 30px;
  font-family: JSLight; 
}
  footer p {
    padding: 0;
    margin: 0;
    margin-top: 10px; 
  }

/* RWD */

/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) {
  #Intro .mine-name {
    text-align: center; 
  }

  #News .list-box {
    height: 260px;
    padding: 30px 50px; 
  }

  #Other p {
    text-align: left; 
  } 
}

/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width: 992px) {
  #Intro .mine-name {
    text-align: center; 
  }

  #News .list-box {
    height: 260px;
    padding: 30px 50px; 
  }

  #Other p {
    text-align: left; 
  } 
}

/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1200px) {
  #Intro .mine-name {
    text-align: left; 
  }
  #News .list-box {
    height: 260px;
    padding: 30px 50px; 
  }
  #Other p {
    text-align: left; 
  } 
}
